@use '../../abstract/index' as *;
@use '../../components/buttons' as *;

.create-post {
  &__heading {
    margin-top: 2rem;
    font-size: $text-xl;
    color: $clr-secondary;
    text-transform: uppercase;
  }

  &__post-container {
    position: relative;
    margin-top: 1rem;
    overflow: hidden;
  }

  &__post-input {
    width: 100%;
    background-color: transparent;
    border: 2px solid $clr-text-secondary;
    border-radius: 20px;
    color: $clr-text-primary;
    font-size: $text-base;
    padding: 1rem;
    padding-bottom: 2rem;
    resize: none;
    outline: transparent;
    @include glassEffect;
  }

  &__post-input:focus {
    border: 2px solid $clr-secondary;
  }

  &__post-length {
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: $text-xs;
    pointer-events: none;
    padding: 0.25rem;
    border-radius: $rounded-lg;
    @include glassEffect;
  }

  &__submit-button {
    margin-top: 1rem;
    @include button--outlined($clr-secondary, $clr-secondary);
  }
}
