@use './abstract/index' as *;
@use './base/index' as *;
@use './components/index' as *;
@use './layout/index' as *;
@use './pages/index' as *;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

body {
  color: $clr-text-primary;
  background-color: $clr-bg-primary;
  max-width: 1920px;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;

  .background-image {
    position: fixed;
    inset: 0;
    z-index: -1;
    display: block;
    background-image: URL('https://images.unsplash.com/photo-1483104879057-379b6c2fe5a2?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
  }
}
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: $clr-secondary;
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
  background: #000;
}

svg {
  fill: $clr-text-primary;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__calendar-icon {
  padding: 1rem;
  margin-top: 1.4rem;
  margin-left: 0.5rem;
  z-index: 10;
}

.react-datepicker-wrapper input {
  border: 2px solid $clr-text-secondary;
  width: 100%;
  background-color: transparent;
  color: $clr-text-primary;
  margin-top: 1rem;
  border-radius: 50px;
  padding: 0.75rem 1rem;
  padding-left: 3rem;
  font-size: $text-base;
  @include glassEffect;
}
