@use '../../abstract/index' as *;
@forward './detailedLegend';
@forward './detailedWeapon';
@use '../../components/buttons' as *;
.game-database {
  margin-inline: $default-margin-inline;

  &__header {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__heading {
    @include heading;
  }

  &__button {
    @include button--outlined($clr-secondary, $clr-secondary);
  }

  .legends {
    &__sub-heading {
      @include subHeading;
      margin-block: 1rem;
      margin-top: 2rem;
    }

    &__legends-container {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
    }
  }

  .weapons {
    &__sub-heading {
      @include subHeading;
      margin-block: 1rem;
      margin-top: 2rem;
    }

    &__container {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
    }

    &__weapon {
      outline: 2px solid $clr-text-primary;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 100px;
      padding: 1rem;
      border-radius: $rounded-3xl;
      transition: outline 250ms ease-in;
      &:hover {
        cursor: pointer;
        outline: 2px solid $clr-secondary;
      }
    }
  }
}
