@use '../../abstract/index' as *;
.profile {
  .peripherals {
    margin-top: 2rem;
    margin-inline: $default-margin-inline;
    display: grid;
    grid-template-columns: repeat(1, minmax(200px, 300px));
    justify-content: center;
    gap: 3rem;

    @include md {
      gap: 1rem;
      grid-template-columns: repeat(2, 250px);
    }

    @include lg {
      grid-template-columns: repeat(3, 250px);
    }

    &__peripheral {
      border-radius: $rounded-3xl;
      overflow: hidden;
      @include glassEffect;
    }

    &__icon-container {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;
    }

    &__icon {
      width: 100px;
      height: 100px;
    }

    &__name {
      font-size: $text-base;
      font-weight: medium;
      color: $clr-text-primary;
      text-align: center;
      padding: 1rem;
      background-color: transparent;
      background-color: $clr-bg-secondary;
      height: 100%;
    }
  }
}
