@use '../abstract/index' as *;

.text-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $rounded-3xl;
  border: 2px solid $clr-text-primary;
  height: 100px;
  width: 100px;
  padding: 1rem;
  cursor: pointer;
  transition: border-color 250ms ease-in;
  @include glassEffect;

  &--selected {
    border-color: $clr-secondary;
  }

  &__text {
    color: $clr-text-primary;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.1;
    text-align: center;
    font-size: 0.95rem;
    text-transform: uppercase;
    user-select: none;
  }
}
