@use '../../abstract/index' as *;

.feedback {
  padding: 1rem;
  margin-block: 1rem;
  outline: 2px solid $clr-text-secondary;
  border-radius: $rounded-4xl;
  @include glassEffect;

  &__meta-data {
    margin-bottom: 2rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }

  &__game {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    outline: 2px solid $clr-secondary;
    padding: 0.25rem 0.5rem;
    width: fit-content;
    border-radius: $rounded-lg;

    &-icon {
      width: 1.25rem;
      height: 1.25rem;
      fill: $clr-secondary;
    }

    &-name {
      text-transform: uppercase;
      color: $clr-secondary;
      font-size: $text-sm;
    }
  }

  &__tag {
    padding: 0.25rem 0.5rem;
    text-transform: uppercase;
    color: $clr-secondary;
    border-radius: $rounded-lg;
    font-size: $text-sm;
    outline: 2px solid $clr-secondary;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__status {
    padding: 0.25rem 0.5rem;
    text-transform: uppercase;
    color: $clr-primary;
    border-radius: $rounded-lg;
    font-size: $text-sm;
    outline: 2px solid $clr-primary;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__avatar-container {
    width: 40px;
    height: 40px;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__username {
    font-size: $text-xl;
    font-weight: medium;
    color: $clr-text-primary;
  }

  &__created-at {
    font-size: $text-xs;
    color: $clr-text-secondary;
    margin-top: 0.2rem;
  }

  &__content {
    font-size: $text-base;
    color: $clr-text-primary;
    line-height: 1.4;
    margin-block: 1rem;
  }

  &__feedback {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }

  &__feedback-button {
    width: 21px;
    height: 21px;
    cursor: pointer;
    fill: $clr-text-primary;
  }

  &__feedback-button--liked {
    fill: $clr-success;
  }

  &__feedback-button--dislike {
    fill: $clr-text-primary;
  }

  &__feedback-button--disliked {
    fill: $clr-error;
  }

  &__feedback-button--comments {
    fill: $clr-info;
  }

  &__likes-dislikes {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }

  &__likes-dislikes-count {
    font-size: $text-xl;
    color: $clr-text-primary;
    min-width: 60px;
    text-align: center;
    user-select: none;
  }

  &__likes-dislikes-count--liked {
    color: $clr-success;
  }

  &__likes-dislikes-count--disliked {
    color: $clr-error;
  }

  &__comments {
    display: flex;
    cursor: pointer;
    gap: 0.5rem;
  }

  &__comments-amount {
    font-size: $text-xl;
    user-select: none;
  }

  &__comments-amount--commented {
    color: $clr-info;
  }
}
